%div.location{ :id => "location_#{@location.id}" }
  %h1.name= @location.name
  %p.description= @location.description

  - @location.ways.each do |id,way|
    %div.way{ :id => "way_#{id}" }
      %h3.name= way.name
      %p.description= way.description

