
%script{ :type => "text/x-handlebars" }
  <div>
  <hr />
  {{outlet}}
  <hr />
  </div>

-# %script{ :type => "text/x-handlebars", :id => "index" }
-#   <div>
-#   {{outlet}}
-#   </div>

-# %script{ :type => "text/x-handlebars", :id => "locations" }
-#   <div>
-#   <ul>
-#   {{#each location in model}}
-#   <li>{{link-to location.name 'location' location.id}}</li>
-#   {{/each}}
-#   </ul>
-#   </div>

%script{ :type => "text/x-handlebars", :id => "location" }
  <div>
  <h1>{{model.name}}</h1>
  <p>{{model.description}}</p>
  {{#each item in model.items}}
  <div {{bind-attr id=item.div_id}}>
  <p class="description">{{item.name}} : {{item.description}}</p>
  {{#each action in item.actions}}
  <p class="describe-action">{{action.execution.describe}}</p>
  {{/each}}
  <ul>
  {{#each action in item.actions}}
  <li class="action"><a {{action 'execute' action}}>{{action.name}} : {{action.description}}</a></li>
  {{/each}}
  </ul>
  </div>
  {{/each}}
  {{#each way in model.ways}}
  <p>{{way.name}} : {{way.description}}</p>
  {{/each}}
  </div>

-# .item{ :id => "item-#{item.id}" }
-#   %p.description= item.description
-#   %p.describe-actions
-#   = partial :actions, locals: { owner: item }

-# %ul.actions
-#   - owner_type = owner.class.name.split('::').last.downcase
-#   - owner.actions.names.each do |action|
-#     %li.action{ :id => "action-#{owner_type}-#{owner.id}-#{action}", :owner_element => "#{owner_type}-#{owner.id}" }
-#       %a.do{ :id => "do-#{owner_type}-#{owner.id}-#{action}", :href => "/do/#{owner_type}/#{owner.id}/#{action}" }
-#         %span.name= action

%script{ :type => "text/javascript" }
  = "var initial_location_id = '#{@location.id}';"

%script{ :src => "/js/play.js" }

