.row
  .large-12.columns
    .way{ :id => "way_#{way.id}" }
      %a.go{ :id => "go_#{way.id}", :href => "/go/#{way.id}" }
        %h3.name= way.name
        %p.description= way.description
      %p.going
